---
layout: layouts/home.njk
eleventyNavigation:

---
<img src ="/images/nicklaspersson.png" height="150" width="150" alt="The author">
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
